body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.note-background {
  background-image: url('./assets/images/note-bg.jpg');
}

.mountain-background {
  background-image: url('./assets/images/mountain-bg.jpg');
}

.city-background {
  background-image: url('./assets/images/city-bg.jpg');
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  color: white;
}

.note-navbar {
  background-color: rgb(16,34,63);
}

.mountain-navbar {
  background-color: #3E2680;
}

.city-navbar {
  background-color: rgb(209, 54, 42);
}

.note-logo, .mountain-logo, .city-logo {
  height: 80%;
  width: auto;
  padding-left: 10px;
}

.mode-toggle {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-right: 10px;
}

.toggle:hover {
  cursor: pointer;
}

.note-toggle-active {
  color: #F9A01B;
}

.mountain-toggle-active {
  color: #00A9E0;
}

.city-toggle-active {
  color: rgb(245, 197, 76);
}

.page-content {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.section-header {
  margin: 5px 0px 5px 3px;
}

section {
  height: calc(100vh - 130px);
  background-color: rgba(255, 255, 255, 0.95);
  margin: 25px;
  border-radius: 6px;
  overflow: scroll;
}

.note-text-accent {
  color: rgb(16,34,63);
}

.mountain-text-accent {
  color: #3E2680;
}

.city-text-accent {
  color: rgb(209, 54, 42);
}

.roster-item {
  display: grid;
  height: 68px;
  grid-template-columns: 80px 1fr 35px;
  grid-template-rows: 1fr 1fr 1fr;
  border-top: 1px solid gray;
}

.player-image {
  display: flex;
  align-self: flex-end;
  height: 58px;
  grid-row: 1/4;
}

.player-name {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.player-number {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
  font-size: 22px;
}

.player-height {
  grid-row: 3/4;
}

@media(max-width: 1366px) {
  .player-name, .player-position, .player-height {
    font-size: 14px;
  }
}

@media(max-width: 479px) {
  .note-background {
    background-image: url('./assets/images/note-mobile-bg.jpg');
  }

  .mountain-background {
    background-image: url('./assets/images/mountain-mobile-bg.jpg');
  }

  .city-background {
    background-image: url('./assets/images/city-mobile-bg.jpg');
  }
}